
<h1>Listing Movies</h1>
<%= link_to 'New Movie', new_movie_path %>
<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="col-sm-4 col-lg-3 col-xs-6">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="<%= movie.image_url%>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= movie.title %></h4>
          <%= link_to '보기', movie_path(movie), class: "btn btn-primary"%>
          <!--<a href="#" class="btn btn-primary">보기</a>-->
        </div>
      </div>
      <br>
    </div>
    <%end%>
  </div>
</div>
<%= paginate(@movies) %>

<br>
